In [ ]:
# Python program to give the names and other data of boys and girls in a class

Number_b = int(input("How many boys are you inputing data for?"))
Number_g = int(input("How many girls are you inputing data for?"))

# Data for the boys

name_b = []
for i in range (Number_b):
    nb = input("Enter his name")
    name_b = [nb]
age_b = []
for i in range (Number_b):
    ab = int(input("Enter his age"))
    age_b = [ab]
height_b = []
for i in range (Number_b):
    hb = float(input("Enter his height"))
    heigth_b = [hb]
scores_b = []
for i in range (Number_b):
    sb = int(input("Enter his score"))
    scores_b = [sb]

for i in range (Number_b):
    print(i,[nb],[ab],[hb],[sb])

# Data for the girls

name_g = []
for i in range (Number_g):
    ng = input("Enter her name")
    name_g = [ng]
age_g = []
for i in range (Number_g):
    ag = int(input("Enter her age"))
    age_g = [ag]
height_g = []
for i in range (Number_g):
    hg = float(input("Enter her height"))
    heigth_g = [hg]
scores_g = []
for i in range (Number_g):
    sg = int(input("Enter her score"))
    scores_g = [sg]

for i in range (Number_g):
    print(i,[ng],[ag],[hg],[sg])

How many boys are you inputing data for? 2
How many girls are you inputing data for? 1
Enter his name werner

In [15]:
# Python code to assign Annual Tax Revenue (ATR) for staff at Izfin Technology

print("Welcome to the Annual Tax Revenue (ATR) Determiner for Izfin Technology Staff")

Name = input("Enter the staff's name")
Experience = int(input("Enter the staff's Years of Experience"))
Age = int(input("Enter the staff's Age"))

if Experience > 25 and Age >= 55:
    print("Your ATR is N5,600,000")
elif Experience > 20 and Age >= 45:
    print("Your ATR is N4,480,000")
elif Experience > 10 and Age >= 35:
    print("Your ATR is N1,500,000")
elif Experience < 10 and Age < 35: 
    print("Your ATR is N550,000")
else : print("Not a Suitable Criteria")

Welcome to the Annual Tax Revenue (ATR) Determiner for Izfin Technology Staff

Enter the staff's name werner
Enter the staff's Years of Experience

ValueError: invalid literal for int() with base 10: ''